name: Deploy Sphinx Docs to GitHub Pages

on:
  push:
    branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python and uv
        id: setup-uv-python
        uses: astral-sh/setup-uv@v5
        with:
            python-version: "3.12"

      - name: Install dependencies
        run: uv sync --dev

      - name: Install pandoc
        run: sudo apt-get install -y pandoc

      - name: Copy content to docs/source folder
        run: |
          cp .github/CONTRIBUTING.md docs/source/contributing.md
          cp -r notebooks/examples/ docs/source/

      - name: Build Sphinx documentation
        working-directory: ./docs
        run: |
          make clean html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./docs/build/html
            enable_jekyll: false
