repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-merge-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --no-cache]
      - id: ruff-format
        args: [--verbose]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        exclude: docs
        args:
            - "--ignore-missing-imports"
            - "--scripts-are-modules"
            # Since pre-commit env does not have all dependencies installed,
            # we ignore unused ignores to avoid false positives:
            - "--no-warn-unused-ignores"
